<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'blog/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<!-- Start Banner Area -->
	<section class="banner-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<div class="row">
						<div class="col-lg-12 col-md-4 col-sm-6">
							<div class="single-post mb-03">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="img/banner/lb1.jpg" alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
								<div class="details">
									<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
										<div>
											<a href="#" class="primary-btn">gadgets</a>
											<a href="#"><span>September 14, 2018</span></a>
										</div>
										<div class="meta">
											<span class="lnr lnr-bubble"></span> 04
										</div>
									</div>
									<a href="#">
										<h4>2nd Gen Smoke CO Alarm</h4>
									</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										Consectetur adipisicing elit sed do eiusmod tempor.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-6">
							<div class="single-post mb-03">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="img/banner/lb2.jpg" alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
								<div class="details">
									<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
										<div>
											<a href="#" class="primary-btn">gadgets</a>
											<a href="#"><span>September 14, 2018</span></a>
										</div>
										<div class="meta">
											<span class="lnr lnr-bubble"></span> 04
										</div>
									</div>
									<a href="#">
										<h4>2nd madhu Gen Smoke CO Alarm</h4>
									</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										Consectetur adipisicing elit sed do eiusmod tempor.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-6">
							<div class="single-post">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="img/banner/lb3.jpg" alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
								<div class="details">
									<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
										<div>
											<a href="#" class="primary-btn">gadgets</a>
											<a href="#"><span>September 14, 2018</span></a>
										</div>
										<div class="meta">
											<span class="lnr lnr-bubble"></span> 04
										</div>
									</div>
									<a href="#">
										<h4>2nd Gen Smoke CO Alarm</h4>
									</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										Consectetur adipisicing elit sed do eiusmod tempor.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-8 owl-carousel active-banner">
					<div class="single-post">
						<div class="thumb">
							<div class="relative">
								<img class="f-img img-fluid mx-auto" src="img/banner/bc1.jpg" alt="">
								<div class="overlay overlay-bg"></div>
							</div>
						</div>
						<div class="details">
							<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
								<div>
									<a href="#" class="primary-btn">gadgets</a>
									<a href="#"><span>September 14, 2018</span></a>
								</div>
								<div class="meta">
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div>
							<a href="#">
								<h4 class="lg-font">Nest Protect: 2nd Gen Smoke <br>
									+ CO Alarm</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem
								ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
							<a href="#" class="primary-btn fill mt-30">read more</a>
						</div>
					</div>

					<div class="single-post">
						<div class="thumb">
							<div class="relative">
								<img class="f-img img-fluid mx-auto" src="img/banner/bc1.jpg" alt="">
								<div class="overlay overlay-bg"></div>
							</div>
						</div>
						<div class="details">
							<div class="bottom d-flex justify-content-start align-items-center flex-wrap">
								<div>
									<a href="#" class="primary-btn">Technology</a>
									<a href="#"><span>September 14, 2018</span></a>
								</div>
								<div class="meta">
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div>
							<a href="#">
								<h4 class="lg-font">Nest Protect: 2nd Gen Smoke <br>
									+ CO Alarm</h4>
							</a>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem
								ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
							<a href="#" class="primary-btn fill mt-30">read more</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-6">
							<div class="single-post mb-03">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="img/banner/br2.jpg" alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
								<div class="details">
									<div class="top-part d-flex justify-content-between">
										<div>
											<h4>United States</h4>
											<p>Saturday, September 08, 2018</p>
										</div>
										<div>
											<span class="lnr lnr-arrow-down text-white"></span>
										</div>
									</div>
									<div class="middle-part">
										<h1>28ºC</h1>
										<p>Partly Cloudy</p>
									</div>

									<div class="bottom-part">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6">
							<div class="single-post">
								<div class="thumb">
									<div class="relative">
										<img class="f-img img-fluid mx-auto" src="img/banner/br1.jpg" alt="">
										<div class="overlay overlay-bg"></div>
									</div>
								</div>
								<div class="details">
									<div class="bottom d-flex justify-content-between">
										<div>
											<h4 class="mt-0">Recent Music Playlist</h4>
											<p>Selected by techmania</p>
										</div>
										<div>
											<span class="lnr lnr-arrow-down text-white"></span>
										</div>
									</div>
									<ul class="list">
										<li>
											<a href="#">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
											</a>
										</li>
										<li>
											<a href="#">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
											</a>
										</li>
										<li>
											<a href="#">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->